:root {
    --header: Staatliches; 
    --p: Montserrat;
}

html,
body,
.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
    font-family: var(--p);
    background-color: #f9fbfd;
  }

.wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

header {
    text-align: center;
    color: hsl(206, 17%, 28%);
    border-style: dashed;
    border-color:  #081C15;
    border-radius: 20px;
}

h1 {
    color:#40916C;
    font-family: var(--header);
    font-size: 40px;
    letter-spacing: 2px;
    animation-name: heading;
    animation-duration: 5s;
    
}

p {
  font-size: 20px;
  font-weight: 400;
}

.startBtn {
  display: flex;
  justify-content: center;
}

#question-container {
    background-color: #B7E4C7;
    border-radius: 20px;
    border-width: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: #081C15;
    font-size: 18px;
    margin: 0 auto;
    width: 800px;
    max-width: 80%;
    padding: 30px 40px;
  }

.btn-grid {
    display: grid;
    margin: 20px 0px;
  }

button {
    background-color: #74C69D;
    border: none;
    color: white;
    width: 800px,
    font-family: var(--header);
    letter-spacing: 2px;
    padding: 15px 32px;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
} 

button:hover {
  border: 2px solid #081C15;
}

.hide {
  display: none;
}

.time {
  color:#081C15;
  text-align: end;
  font-family: var(--p);
  letter-spacing: 2px;
}

img {
  width: 500px;
  height: 600px;
}

.img-display {
  display: flex;
  justify-content: space-between;
}

@keyframes heading {
    0% {color: #74C69D};
    25% {color: #B7E4C7;}
    75% {color: #40916C;}
    100% {color: #081C15;}
}