:root {
	--header: Staatliches;
	--p: Montserrat;
}

body {
	font-family: var(--p);
	margin: 20px;
	padding: 20px;
	background-color: rgb(247, 247, 247);
}

header {
	text-align: center;
	color: hsl(206, 17%, 28%);
	border-style: dashed;
	border-color: #081c15;
	border-radius: 20px;
	margin: 10px;
	padding: 10px;
}

h1 {
	color: #40916c;
	font-family: var(--header);
	font-size: 40px;
	letter-spacing: 2px;
	animation: heading infinite;
	animation-duration: 5s;
}

p {
	font-size: 20px;
	font-weight: 400;
}

.startBtn {
	display: flex;
	justify-content: center;
}

#question {
	text-align: center;
}

#question-container {
	background-color: #b7e4c7;
	border-radius: 20px;
	border-width: 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
	color: #081c15;
	font-size: 18px;
	margin: 0 auto;
	width: 800px;
	max-width: 80%;
	padding: 30px 40px;
}

.btn-grid {
	display: grid;
	margin: 20px 0px;
}

button {
	background-color: #74c69d;
	border: none;
	color: white;
	width: auto;
	font-family: var(--p);
	letter-spacing: 2px;
	padding: 15px 32px;
	border-radius: 20px;
	text-align: center;
	font-size: 25px;
	margin: 4px 2px;
	cursor: pointer;
}

button:hover {
	border: 2px solid #081c15;
}

.time {
	color: #081c15;
	text-align: end;
	margin-right: 10%;
	font-family: var(--p);
	letter-spacing: 2px;
}

input {
	width: 50%;
	border-radius: 15px;
	padding: 12px 20px;
	margin: 8px 0;
}

.input-group {
	display: flex;
	justify-content: center;
}

#save,
#results {
	display: flex;
	justify-content: center;
}

img {
	width: 500px;
	height: 600px;
}

.img-display {
	display: flex;
	justify-content: space-between;
}

.hide {
	display: none;
}

@keyframes heading {
	0% {
		color: #74c69d;
	}
	25% {
		color: #b7e4c7;
	}
	75% {
		color: #40916c;
	}
	100% {
		color: #081c15;
	}
}

@media only screen and (max-width: 1050px) {
	button {
		padding: 0;
	}
	.img-display {
		display: none;
	}
	#question-container {
		width: auto;
	}
}
